input[type='range'] {
  /* -webkit-appearance: none;
  border-radius: 1.3px;

  appearance: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease; */
}

/* 동그란 부분(thumb) 커스텀 */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;
  border: 3px solid #162c63;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

input[type='range']:focus {
  outline: none;
  box-shadow: none;
}

.volume-range {
  width: 80px;
  height: 4px;
  border-radius: 1.3px;
  background-color: #ffffff80;
  -webkit-appearance: none;
  appearance: none;
}

.volume-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background-color: white;
  border: 1px solid #162c63;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px;
}

.progress-range {
  width: 100%;
  height: 10px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffffff4d;
  margin: 0;
}

.progress-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #162c63;
  cursor: pointer;
  margin-top: -6px;
  opacity: 0;
}
