.swiper {
  padding: 0 1.5rem !important;
}

.swiper-button-next,
.swiper-button-prev {
  width: 20px !important;
  height: 20px !important;
  margin-top: -10px !important;
  background: none !important;
}

.swiper-button-next {
  right: -5px !important;
}

.swiper-button-prev {
  left: -5px !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
  color: #73a1f7 !important;
}

.swiper-button-disabled {
  opacity: 0.35 !important;
}

.swiper-slide {
  height: auto !important;
  display: flex !important;
  justify-content: center !important;
}
