.scrollbar {
  overflow-y: scroll;
}

/* 스크롤바의 폭 너비 */
.scrollbar::-webkit-scrollbar {
  width: 13px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #4e7acf4d;
  border-radius: 6px; /* 스크롤바 둥근 테두리 */
  width: 13px;
  height: 25px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent; /*스크롤바 뒷 배경 색상*/
  width: 13px;
  height: 25px;
}

.point-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE, Edge */
}

.point-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.scrollbar-pink::-webkit-scrollbar-thumb {
  background: #f9e9f0;
  border-radius: 6px; /* 스크롤바 둥근 테두리 */
  width: 13px;
  height: 25px;
}

/* --- */
.scrollbar-white::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 6px; /* 스크롤바 둥근 테두리 */
}
