@import 'tailwindcss';

@theme {
  /* 폰트 패밀리 */
  --font-sans: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Sans KR', 'Apple SD Gothic Neo', '맑은 고딕',
    'Malgun Gothic';

  /* 배경 이미지 */
  --gradient-book-gradient: linear-gradient(180deg, #73a1f7 0%, #4983ef 100%);
  --bg-modal: inset 0px 0px 40px 10px rgba(152, 200, 228, 0.3),
    drop-shadow(0px 10px 20px rgba(62, 80, 125, 0.2));

  /* 그림자 */
  --drop-shadow-book: 10px 4px 10px rgba(78, 122, 207, 0.15);
  --drop-shadow-logo: 0px 4px 4px rgba(78, 122, 207, 0.15);
  --drop-shadow-modal: 0px 10px 10px rgba(38, 86, 205, 0.3);

  /* border */
  --radius-comment: 14px 14px 0px 14px;

  --animate-slideTitle: slideTitle linear infinite;

  @keyframes slideTitle {
    0% {
      transform: translateX(100%); /* 화면 오른쪽에서 시작 */
    }
    100% {
      transform: translateX(-100%); /* 화면 왼쪽으로 완전히 사라짐 */
    }
  }
}

@layer components {
  .item-middle {
    @apply flex items-center justify-center;
  }

  .item-left {
    @apply flex items-center justify-start;
  }

  .item-around {
    @apply flex items-center justify-around;
  }

  .item-between {
    @apply flex items-center justify-between;
  }
  .item-row {
    @apply flex flex-col items-center justify-center;
  }
  .all-200-eio {
    @apply transition-all duration-200 ease-in-out;
  }
  .book-gradient {
    @apply bg-gradient-to-b from-[#73a1f7] to-[#4983ef];
  }

  .spring-left-first {
    @apply absolute -top-[30px] z-20 left-[calc(50%-200px-48px)] @2xl:left-[calc(50%-270px-32px)];
  }

  .spring-left-second {
    @apply absolute -top-[30px] z-20 left-[calc(50%-200px-2px)] @2xl:left-[calc(50%-270px+12px)];
  }

  .spring-right-first {
    @apply absolute -top-[30px] z-20 right-[calc(50%-200px-48px)] @2xl:right-[calc(50%-270px-32px)];
  }

  .spring-right-second {
    @apply absolute -top-[30px] z-20 right-[calc(50%-200px-2px)] @2xl:right-[calc(50%-270px+12px)];
  }

  .spring-element {
    @apply w-7 h-16 bg-[#73A1F7] rounded-full border-2 border-[#2656CD] 2xl:h-20 2xl:w-8;
  }

  .book-shadow {
    @apply drop-shadow-[10px_4px_10px_rgba(78,122,207,0.15)];
  }
}
