@import 'tailwindcss';

@theme {
  /* 폰트 패밀리 */
  --font-sans: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Sans KR', 'Apple SD Gothic Neo', '맑은 고딕',
    'Malgun Gothic';

  /* 배경 이미지 */
  --gradient-book-gradient: linear-gradient(180deg, #73a1f7 0%, #4983ef 100%);
  --bg-modal: inset 0px 0px 40px 10px rgba(152, 200, 228, 0.3),
    drop-shadow(0px 10px 20px rgba(62, 80, 125, 0.2));

  /* 그림자 */
  --drop-shadow-book: 10px 4px 10px rgba(78, 122, 207, 0.15);
  --drop-shadow-logo: 0px 4px 4px rgba(78, 122, 207, 0.15);
  --drop-shadow-modal: 0px 10px 10px rgba(38, 86, 205, 0.3);

  --animate-slideTitle: slideTitle linear infinite;

  @keyframes slideTitle {
    0% {
      transform: translateX(100%); /* 화면 오른쪽에서 시작 */
    }
    100% {
      transform: translateX(-100%); /* 화면 왼쪽으로 완전히 사라짐 */
    }
  }
}

@layer components {
  .item-middle {
    @apply flex items-center justify-center;
  }

  .item-left {
    @apply flex items-center justify-start;
  }

  .item-around {
    @apply flex items-center justify-around;
  }

  .item-between {
    @apply flex items-center justify-between;
  }

  .item-row {
    @apply flex flex-col items-center justify-center;
  }
  .all-200-eio {
    @apply transition-all duration-200 ease-in-out;
  }
  .book-gradient {
    @apply bg-gradient-to-b from-[#73a1f7] to-[#4983ef];
  }
}

@layer utilities {
  .vertical-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 0.1em;
  }
}
